#drum-machine {
  display: block;
  position: relative;
  outline: 5px solid yellow;
  text-align: center;
  background: #b3b3b3;
  width: 660px;
}

.inner-container .pad-bank {
  width: 332px;
  height: 272px;
  display: inline-block;
  margin: 20px;
}

.inner-container .pad-bank .drum-pad {
  position: relative;
  float: left;
  width: 100px;
  height: 80px;
  margin-right: 10px;
  border-radius: 5px;
  padding-top: 35px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Acme';
  font-size: 18px;
  font-weight: 600;
}

audio {
  width: 300px;
  height: 54px;
}

.inner-container .controls-container {
  display: inline-block;
  width: 240px;
  height: 272px;
  margin: 40px 20px 0 10px;
  vertical-align: top;
}

p, span {
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Acme';
    font-weight: 600;
}

.inner-container .controls-container .control {
  width: 100px;
  margin: auto;
}

.control .select {
  display: block;
  margin: auto;
  border: 1px solid black;
  width: 50px;
  height: 20px;
  padding: 1px;
  background: black;
}

.control .select .inner {
  display: block;
  width: 23px;
  height: 19px;
  background: blue;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

.controls-container #display {
  background: gray;
  box-sizing: border-box;
  margin: 15px auto;
  padding: 15px;
  width: 200px;
}

.controls-container #volume-slider {
  display: block;
}

[type=range]{
  margin: 12.5px 0;
  width: 100%;
}

input[type="range" i]{
  cursor: default;
  padding: initial;
  border: initial;
  color: rgb(157, 150, 142);
}

input {
  display: inline-block;
  text-align: start;
  text-rendering: auto;
  letter-spacing: normal;
  text-transform: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  font-size: 13px;
  font-family: 'Acme';
  font-weight: 400;
}